# Ignore Python virtual environment
venv/
env/
static/
templates/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore the .env file containing sensitive information
.env

# Ignore log files
*.log